html {
     font-family: Cambria, Georgia, serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 2em;
    text-align: center;
}

app {
    width: 30rem;
}

h1 {
  color: #369;
  font-size: 350%;
}